/* General reset */

/* Defaulting to the system font of a particular operating system */
:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--system-ui);
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* full page layout */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar layout */
.sidebar {
    grid-row: 1/3;
    background-color: #1892d3;
    color: #ffffff;
    display: grid;
    align-content: start;
    gap:40px;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 40px  1fr;
    grid-template-rows: 50px;
    gap: 10px;
    align-items: center;
}

.sidebar h1 {
    font-size: 20px;
}

.sidebar .logo span {
    justify-self: end;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 30px;
    font-weight:bold;
    font-size: 15px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar ul a{
    color: #ffffff;
    text-decoration: none;
}

.sidebar a span {
    margin-right: 10px;
}


