/* General reset */

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

/* Defaulting to the system font of a particular operating system */
:root {
    --system-ui: 'roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--system-ui);
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.profile-img {
    border-radius: 50%;
}

.icon {
    width: 20px;
    height: 20px;
}
/* full page layout */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar layout */
.sidebar {
    grid-row: 1/3;
    background-color: #1892d3;
    color: #ffffff;
    display: grid;
    align-content: start;
    gap:40px;
    z-index: 2;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 60px  1fr;
    grid-template-rows: 50px;
    gap: 10px;
    align-items: center;
}

.sidebar h1 {
    font-size: 20px;
}

.sidebar .logo img {
    justify-self: end;
    width: 40px;
    height: 40px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 30px;
    font-weight:bold;
    font-size: 15px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar ul a{
    color: #ffffff;
    text-decoration: none;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}

.sidebar a img {
    margin-right: 10px;
    align-self: center;
}

/* Header layout */
.header {
    padding: 10px 0px 10px 30px;
    display: grid;
    grid-template-columns: 700px 1fr;
    align-items: center;
    row-gap: 20px;
    box-shadow: 0px 4px 2px #ced1d7;
    z-index: 1;
}

.header div,
.header ul {
    display: grid;
    grid-auto-flow: column;
}

.header .search-bar {
    grid-template-columns: 30px 1fr;
    align-items: center;    
}

.header input {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #e1e8f0;
}

.header .user-info {
    grid-template-columns: 20px 50px max-content;
    align-items: center;
    width: min-content;
    justify-self: center;
    gap: 15px;
    justify-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
}

.user-info img.icon {
    width: 20px;
    height: 20px;
}

.user-info {
    font-weight: bold;
    font-size: 12px;
}

.header .greeting-msg {
    grid-template-columns: 65px 1fr;
    align-items: center;
}

.greeting-msg img {
    width: 55px;
    height: 55px;
}

.greeting-msg p {
    font-size: 10px;
    font-weight: bold;
}

.greeting-msg span {
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    grid-template-columns: repeat(3, min-content);
    gap: 20px;
    width: min-content;
    justify-self: center;
}

.header button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #1892d3;
    color: #ffffff;
    font-size: 10px;
    font-weight: 900;
}

/* Main content layout */
.main-content {
    background-color: #e1e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px 20px;
    padding: 20px;
}

.main-content .projects {
    grid-row: 1/3;
}

.main-content .content div {
    background-color: #ffffff;
}

/* Main content > projects section layout*/
.main-content .projects .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    margin-top: 10px;
}

.main-content .project {
    padding: 20px ;
    border-left: 8px solid #eeb62c;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #ced1d7;
}

.main-content .project p {
    font-size: 14px;
    color: #5c5a5a;
}

.main-content .project ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: auto;
    width: min-content;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    justify-items: end;
    gap: 15px;
    margin-right: 10px;
}

.main-content .project a {
    color: #404040;
    text-decoration: none;
}

/* Main content > Announcements section layout*/
.main-content .announcements .content {
    padding: 30px ;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #ced1d7;
    background-color: #ffffff;
    margin-top: 10px;
}

.main-content .announcements p {
    font-size: 12px;
    color: #5c5a5a;
}

hr {
    margin: 20px 0px;
}

/* Main content > Trending section layout*/
.main-content .trending .content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #ced1d7;
    background-color: #ffffff;
    margin-top: 10px;
    display: grid;
    gap: 20px;
}

.trending .profile-img {
    width: 40px;
    height: 40px;
}

.trending .profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    align-items: center;
    gap: 12px;
}

.trending .profile {
    font-size: 12px;
    color: #5c5a5a;
}

.trending span {
    color: #464444;
    font-weight: bold;
}